<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Encryptor/Decryptor</title>


    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="header">
            <h1>File Encryptor/Decryptor</h1>
        </div>
        <div class="content">
            <h2>Select Mode</h2>

            <form id="file-form" action="/process" method="POST" enctype="multipart/form-data">
                <div class="file-input-box">
                    <input type="file" name="file" id="file-input" required>
                </div>

                <input type="password" name="password" placeholder="Password" class="password-input" required>
                <input type="hidden" name="action" id="action-input">

                <div class="button-group">
                    <button type="submit" onclick="setAction('encrypt')" class="button">Encrypt</button>
                    <button type="submit" onclick="setAction('decrypt')" class="button">Decrypt</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function setAction(action) {
            document.getElementById('action-input').value = action;
        }
    </script>
</body>
</html>